.App {
  text-align: center;
}
.App-containerFlex{
  display: flex !important;
  flex-direction: row !important;
  flex-grow:1 !important;;
  align-items: stretch !important;
  overflow: hidden !important;
  height: 100% !important;
}
.App-column-1{
  width: 20%;
}
.App-column-2{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 27%;
  margin: 0;
  border: 1px solid #07535E;
  border-radius: 10px;
  padding: 50px;
  margin-top: 20px;
}
.App-column-3{
  text-align: left;
  width: 30%;
}
.App-logoImage {
  height: 250px;
  width: 400px;
}
.App-playGameBtn{
  background-color:  #07535E  !important; 
  border-color: #07535E  !important; 
}
.App-easyLevelBtn{
  background-color: #008EB3 !important;
  border-color: #008EB3!important;
} 
.App-hardLevelBtn{
  background-color: #FDB727 !important;
  border-color: #FDB727 !important;
}

.App-homeNav{
  float: left;
  margin-right: 200px;
}
.App-homeBtn{
  float:left;
  margin-left: 100px;
  margin-top: 20px;
  background-color: #FDB727 !important;
  border-color: #FDB727 !important;
}
.App-gameHeaderTxt{
  float: left;
  text-align: center;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0;
  padding: 10px;
  padding-bottom: 30px;
  background-color: #07535E;
  color: white;
}
.App-gameHeaderTries{
  text-align: center;
  border-radius: 0 0 10px 10px;
  background-color:#008EB3;
  color: white;
  padding: 10px;
  padding-bottom: 30px;
}
.App-level{
 text-align: left;
 margin-top: 20px;
}
.App-levelHint{
  text-align: left;
  margin-top:20px;
  color: #07535E;
 }
 .App-guessedNumbers{
  display: inline;
 }
 .App-gameStatus{
  padding-top: 10px;
  float: left;
 }
 .App-btnSubmit{
   float:left;
   background-color:  #07535E  !important; 
   border-color: #07535E  !important; 
 }
 .App-btnNewGame{
  float:right;
  background-color: #008EB3 !important;
  border-color: #008EB3!important;
 }
 .App-guesses{
   float: left;
   padding-bottom: 20px;
 }
 .App-form{
  padding-bottom: 20px;
 }
.App-inputForm{
  margin-top: 100px;
  width:auto  !important;
}
.App-numberHints{
  position: relative;
  float: right;
  padding: 15px;
  background-color: #FDB727;
  box-shadow: 20px 25px 11px -3px rgba(156,156,156,1);
}
#numberHintsTitle{
  color: white;
}
.App-alertPopUp{
  background-color: #008EB3 !important;
  border-color: #008EB3!important;
}

